* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 65px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav a {
  text-decoration: none;
  font-family: GSreg;
  font-size: 15px;
}
nav .Font-nav-W {
  color: #fff;
}
nav .Font-nav-B {
  color: #000;
}
nav .logo-W {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .logo-B {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .links {
  width: 372px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navLine {
  border-left: 1px solid #EE4367;
  height: 22px;
  transform: skewX(-30deg);
  color: #fff;
}

.Nav-White {
  border-bottom: 2px solid #fff;
}

.Nav-Black {
  border-bottom: 2px solid #000;
  color: #000;
}

@media all and (max-width: 1200px) {
  nav {
    max-width: 90%;
  }
}
.home {
  margin-top: -65px;
}
.home .hero {
  height: 500px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.75)), url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .hero .hero-content {
  min-height: 100px;
  max-width: 310px;
  text-align: center;
  margin: auto;
  padding-top: 155px;
}
.home .hero .hero-content .hero-title {
  font-family: PTSreg;
  font-size: 40px;
  color: white;
}
.home .hero .hero-content .hero-sub-title {
  font-family: GSitalic;
  font-size: 20px;
  color: #EE4367;
  margin-top: 9px;
}
.home .hero .hero-content .hero-sub-title2 {
  font-family: GSitalic;
  font-size: 20px;
  color: white;
  margin-top: 49px;
}
.home .hero .hero-content .hero-button {
  font-family: GSreg;
  font-size: 15px;
  color: white;
  background-color: #EE4367;
  text-align: center;
  align-content: center;
  width: 122px;
  height: 40px;
  margin: auto;
  margin-top: 48px;
}
.home .CEO-home {
  min-height: 300px;
  max-width: 780px;
  margin: auto;
}
.home .CEO-home .CEO-home-quote {
  color: #FFD140;
  font-family: GSbolditalic;
  font-size: 15px;
  padding-top: 77px;
}
.home .CEO-home .CEO-home-name {
  color: #EE4367;
  font-family: PTSreg;
  font-size: 15px;
  padding-top: 20px;
}
.home .CEO-home .CEO-home-position {
  color: #A8A8A8;
  font-family: PTSreg;
  font-size: 10px;
  padding-top: 5px;
}
.home .upcoming-events {
  min-height: 300px;
  background-color: #540D6E;
}
.home .upcoming-events .UPE-title {
  padding-top: 50px;
  color: white;
  max-width: 1198px;
  font-family: GSreg;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0 auto;
}
.home .upcoming-events .UPE-title .UPE-line {
  height: 2px;
  background-color: white;
  max-width: 392px;
}
.home .upcoming-events .events-tiles {
  max-width: 1198px;
  min-height: 124px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 70px;
  flex-wrap: wrap;
}
.home .upcoming-events .events-tiles .UPE-tile {
  width: 220px;
  height: 124px;
  display: flex;
  justify-content: space-between;
}
.home .upcoming-events .events-tiles .UPE-tile .UPE-date {
  background-color: #EE4367;
  height: 60px;
  width: 60px;
  position: relative;
}
.home .upcoming-events .events-tiles .UPE-tile .UPE-date .date-num {
  font-family: GSbold;
  font-size: 22px;
  color: white;
  position: absolute;
  text-align: center;
  left: 17px;
  top: 10px;
}
.home .upcoming-events .events-tiles .UPE-tile .UPE-date .date-month {
  font-family: GSlight;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  left: 19px;
  top: 36px;
}
.home .upcoming-events .events-tiles .UPE-tile .UPE-text {
  width: 140px;
}
.home .upcoming-events .events-tiles .UPE-tile .UPE-text .UPE-header {
  font-family: GSreg;
  font-size: 15px;
  color: white;
  height: 41px;
}
.home .upcoming-events .events-tiles .UPE-tile .UPE-text .UPE-words {
  font-family: GSreg;
  font-size: 13px;
  color: #EE4367;
  height: 78px;
  margin-top: -12px;
}

@media all and (max-width: 1200px) {
  .home .upcoming-events .UPE-title {
    max-width: 90%;
  }
  .home .upcoming-events .events-tiles {
    max-width: 90%;
  }
  .home .upcoming-events .events-tiles .UPE-tile {
    margin: 10px;
  }
}
@media all and (max-width: 850px) {
  .home .CEO-home {
    min-height: 300px;
    max-width: 90%;
  }
}
.about {
  width: 980px;
  max-width: 90%;
  min-height: 300px;
  margin: auto;
  margin-top: 86px;
  margin-bottom: 90px;
}
.about .page-hero {
  background-image: linear-gradient(rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.75)), url(../images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 380px;
  position: relative;
}
.about .page-hero .about-hero-header {
  font-family: GSreg;
  font-size: 25px;
  text-transform: uppercase;
  position: absolute;
  bottom: -22px;
}
.about .header-line {
  height: 2px;
  max-width: 229px;
  background-color: black;
  margin-top: 16px;
}
.about .about-text {
  font-family: GSlightitalic;
  font-size: 16px;
  margin-top: 37px;
}

.contact {
  margin: auto;
  width: 980px;
  margin-top: 65px;
  margin-bottom: 90px;
}
.contact .contactHeader {
  font-family: GSreg;
  font-size: 25px;
}
.contact .contactLine {
  height: 2px;
  max-width: 229px;
  background-color: #000;
  margin-top: -10px;
}
.contact .contactform {
  margin-top: 65px;
}
.contact .contactform .formInfoMap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact .contactform .formInfoMap .formInfo {
  display: flex;
  flex-direction: column;
  max-width: 529px;
  width: 100%;
}
.contact .contactform .formInfoMap .formInfo .formInput {
  background-color: #F5F5F5;
  width: 100%;
  min-width: 100px;
  height: 60px;
  padding-left: 15px;
  color: #000;
  border: none;
  margin-bottom: 21px;
}
.contact .contactform .formInfoMap .formInfo .formMes {
  background-color: #F5F5F5;
  width: 100%;
  min-width: 100px;
  height: 199px;
  padding-left: 21px;
  padding-bottom: 145px;
  color: #000;
  border: none;
}
.contact .contactform .formInfoMap .formInfo ::-webkit-input-placeholder {
  color: black;
  font-family: GSreg;
  font-size: 16px;
  opacity: 50%;
}
.contact .contactform .formInfoMap .map {
  background-image: url(../images/map.jpg);
  width: 400px;
  height: 442px;
  min-width: 100px;
  min-height: 110.5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact .contactform .submit {
  font-family: GSreg;
  font-size: 15px;
  color: white;
  background-color: #EE4367;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  max-width: 167px;
  padding: 21px;
  margin-top: 21px;
}

@media all and (max-width: 1000px) {
  .contact {
    max-width: 90%;
  }
  .contact .formInfoMap {
    flex-direction: column;
  }
  .contact .formInfoMap .map {
    margin-top: 21px;
    max-width: 100%;
  }
}
footer {
  min-height: 455px;
  background-color: #EE4367;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer .logo-W {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-contact-info {
  text-align: center;
  color: white;
  font-family: GSreg;
  font-size: 16px;
}
footer .footerText {
  font-family: GSreg;
  color: white;
  opacity: 50%;
  font-size: 12px;
}
footer .footer-newsletter {
  max-width: 696px;
  height: 60px;
  display: flex;
}
footer .footer-newsletter .footer-newsletter-input {
  height: 100%;
  width: 529px;
  border: 0;
  background-color: #F56B88;
  padding-left: 25px;
  color: white;
  font-family: GSreg;
}
footer .footer-newsletter ::-webkit-input-placeholder {
  color: white;
  font-family: GSreg;
  opacity: 50%;
}
footer .footer-newsletter .subscribe-button {
  height: 100%;
  width: 167px;
  color: #EE4367;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: GSreg;
  font-size: 16px;
}
footer .socials {
  width: 156px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .socials .socialIcons {
  font-size: 32px;
  color: white;
}

@media all and (max-width: 750px) {
  footer {
    min-height: 455px;
    background-color: #EE4367;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
  footer .footer-newsletter {
    max-width: 90%;
    height: 60px;
    display: flex;
  }
  footer .footer-newsletter .subscribe-button {
    height: 100%;
    width: 167px;
    color: #EE4367;
    background-color: white;
    text-align: center;
    padding: 20px 10px;
    text-transform: uppercase;
    font-family: GSreg;
    font-size: 16px;
  }
}
@font-face {
  font-family: GSreg;
  src: url(../fonts/Gill\ Sans\ Medium.otf);
}
@font-face {
  font-family: PTSreg;
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GSitalic;
  src: url(../fonts/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: GSbolditalic;
  src: url(../fonts/Gill\ Sans\ Bold\ Italic.otf);
}
@font-face {
  font-family: GSbold;
  src: url(../fonts/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: GSlight;
  src: url(../fonts/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: GSlightitalic;
  src: url(../fonts/Gill\ Sans\ Light\ Italic.otf);
}
.gallery-main {
  max-width: 980px;
  min-height: 300px;
  margin: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}
.gallery-main .GM-header {
  margin-bottom: 30px;
}
.gallery-main .GM-header .GM-title {
  font-family: GSreg;
  font-size: 25px;
  text-transform: uppercase;
}
.gallery-main .GM-header .GM-line {
  height: 2px;
  width: 229px;
  max-width: 90%;
  background-color: black;
  margin-top: -10px;
}
.gallery-main .GM-hero {
  min-height: 200px;
  margin: 0 auto;
}
.gallery-main .GM-hero .GM-img-1 {
  background-image: linear-gradient(rgba(255, 209, 64, 0.65), rgba(255, 209, 64, 0.65)), url(../images/gallery/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 187px;
  width: 489px;
}
.gallery-main .GM-hero .GM-img-2 {
  background-image: linear-gradient(rgba(238, 67, 103, 0.65), rgba(238, 67, 103, 0.65)), url(../images/gallery/2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 187px;
  width: 187px;
  margin-top: -187px;
  margin-left: 509px;
}
.gallery-main .GM-hero .GM-img-3 {
  background-image: linear-gradient(rgba(8, 173, 105, 0.65), rgba(8, 173, 105, 0.65)), url(../images/gallery/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 187px;
  width: 265px;
  margin-top: -187px;
  margin-left: 716px;
}
.gallery-main .GM-hero .GM-img-4 {
  background-image: linear-gradient(rgba(84, 13, 110, 0.65), rgba(84, 13, 110, 0.65)), url(../images/gallery/4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 306px;
  width: 603px;
  margin-top: 20px;
}
.gallery-main .GM-hero .GM-img-5 {
  background-image: linear-gradient(rgba(59, 206, 171, 0.65), rgba(59, 206, 171, 0.65)), url(../images/gallery/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 306px;
  width: 355px;
  margin-top: -306px;
  margin-left: 626px;
}

@media all and (max-width: 1100px) {
  .gallery-main {
    max-width: 90%;
  }
  .gallery-main .GM-hero {
    background-color: coral;
    min-height: 200px;
    margin: 0 auto;
  }
  .gallery-main .GM-hero .GM-img-1 {
    background-image: linear-gradient(rgba(255, 209, 64, 0.65), rgba(255, 209, 64, 0.65)), url(../images/gallery/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 197px;
    width: 507px;
  }
  .gallery-main .GM-hero .GM-img-2 {
    background-image: linear-gradient(rgba(238, 67, 103, 0.65), rgba(238, 67, 103, 0.65)), url(../images/gallery/2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 197px;
    width: 216px;
    margin-top: -197px;
    margin-left: 527px;
  }
  .gallery-main .GM-hero .GM-img-3 {
    background-image: linear-gradient(rgba(8, 173, 105, 0.65), rgba(8, 173, 105, 0.65)), url(../images/gallery/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 187px;
    width: 265px;
  }
  .gallery-main .GM-hero .GM-img-4 {
    background-image: linear-gradient(rgba(84, 13, 110, 0.65), rgba(84, 13, 110, 0.65)), url(../images/gallery/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 306px;
    width: 603px;
  }
  .gallery-main .GM-hero .GM-img-5 {
    background-image: linear-gradient(rgba(59, 206, 171, 0.65), rgba(59, 206, 171, 0.65)), url(../images/gallery/5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 306px;
    width: 355px;
    margin-top: -306px;
    margin-left: 626px;
  }
}

/*# sourceMappingURL=styles.css.map */
