* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 65px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 99;
}
nav a {
  text-decoration: none;
  font-family: GSreg;
  font-size: 15px;
}
nav .Nav-White {
  border-bottom: 2px solid #fff;
  color: #fff;
}
nav .Font-nav-W {
  color: #fff;
}
nav .Nav-Black {
  border-bottom: 2px solid #000;
  color: #000;
}
nav .Font-nav-B {
  color: #000;
}
nav .logo-W {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .logo-B {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav .links {
  width: 372px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navLine {
  border-left: 1px solid #EE4367;
  height: 22px;
  transform: skewX(-30deg);
  color: #fff;
}

.home {
  margin-top: -65px;
}
.home .hero {
  height: 500px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.75), rgba(255, 209, 64, 0.7)), url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .hero .hero-content {
  min-height: 100px;
  max-width: 310px;
  text-align: center;
  margin: auto;
  padding-top: 155px;
}
.home .hero .hero-content .hero-title {
  font-family: PTSreg;
  font-size: 40px;
  color: white;
}
.home .hero .hero-content .hero-sub-title {
  font-family: GSitalic;
  font-size: 20px;
  color: #EE4367;
  margin-top: 9px;
}
.home .hero .hero-content .hero-sub-title2 {
  font-family: GSitalic;
  font-size: 20px;
  color: white;
  margin-top: 49px;
}
.home .hero .hero-content .hero-button {
  font-family: GSreg;
  font-size: 15px;
  color: white;
  background-color: #EE4367;
  text-align: center;
  align-content: center;
  width: 122px;
  height: 40px;
  margin: auto;
  margin-top: 48px;
}
.home .CEO-home {
  height: 300px;
  width: 780px;
  margin: auto;
}
.home .CEO-home .CEO-home-quote {
  color: #FFD140;
  font-family: GSbolditalic;
  font-size: 15px;
  padding-top: 77px;
}
.home .CEO-home .CEO-home-name {
  color: #EE4367;
  font-family: PTSreg;
  font-size: 15px;
  padding-top: 20px;
}
.home .CEO-home .CEO-home-position {
  color: #A8A8A8;
  font-family: PTSreg;
  font-size: 10px;
  padding-top: 5px;
}
.home .upcoming-events {
  height: 320px;
  background-color: #540D6E;
}

footer {
  height: 455px;
  background-color: #EE4367;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer .logo-W {
  width: 92px;
  height: 42px;
  background-image: url(../images/logo/logo-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-contact-info {
  text-align: center;
  color: white;
  font-family: GSreg;
  font-size: 16px;
}
footer .footerText {
  font-family: GSreg;
  color: white;
  opacity: 50%;
  font-size: 12px;
}
footer .footer-newsletter {
  width: 696px;
  height: 60px;
  display: flex;
}
footer .footer-newsletter .footer-newsletter-input {
  height: 100%;
  width: 529px;
  border: 0;
  background-color: #F56B88;
  padding-left: 25px;
  color: white;
  font-family: GSreg;
}
footer .footer-newsletter ::-webkit-input-placeholder {
  color: white;
  font-family: GSreg;
  opacity: 50%;
}
footer .footer-newsletter .subscribe-button {
  height: 100%;
  width: 167px;
  color: #EE4367;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-family: GSreg;
  font-size: 16px;
}
footer .socials {
  width: 156px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .socials .socialIcons {
  font-size: 32px;
  color: white;
}

@font-face {
  font-family: GSreg;
  src: url(../fonts/Gill\ Sans\ Medium.otf);
}
@font-face {
  font-family: PTSreg;
  src: url(../fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GSitalic;
  src: url(../fonts/Gill\ Sans\ Italic.otf);
}
@font-face {
  font-family: GSbolditalic;
  src: url(../fonts/Gill\ Sans\ Bold\ Italic.otf);
}
@font-face {
  font-family: GSbold;
  src: url(../fonts/Gill\ Sans\ Bold.otf);
}
@font-face {
  font-family: GSlight;
  src: url(../fonts/Gill\ Sans\ Light.otf);
}
@font-face {
  font-family: GSlightitalic;
  src: url(../fonts/Gill\ Sans\ Light\ Italic.otf);
}

/*# sourceMappingURL=styles.css.map */
