.about {
    width: $nav-width;
    max-width: 90%;
    min-height: 300px;
    margin: auto;
    margin-top: 86px;
    margin-bottom: 90px;

    .page-hero {
        background-image: linear-gradient(rgba($site-yellow, 0.75),rgba($site-yellow, 0.75)), url(../images/about.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 380px;
        position: relative;

        .about-hero-header {
            font-family: GSreg;
            font-size: 25px;
            text-transform: uppercase;
            position: absolute;
            bottom: -22px;
        }
    }
    .header-line {
        height: 2px;
        max-width: 229px;
        background-color: black;
        margin-top: 16px;
    }
    .about-text {
        font-family: GSlightitalic;
        font-size: 16px;
        margin-top: 37px;
    }
}