.blog-main {
    width: $nav-width;
    max-width: 90%;
    min-height: 300px;
    // background-color: aqua;
    margin: auto;
    margin-top: 66px;
    margin-bottom: 86px;

    .blogs {
        margin-top: 31px;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
     
        .blog-tile {
            max-width: 460px;
            height: 257px;
            // background-color: cadetblue;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            text-decoration: none;
            margin-bottom: 40px;

            .blog-date {
                background-color: $site-pink;
                height: 60px;
                min-height: 60px;
                width: 60px;
                min-width: 60px;
    
                .date-num {                        
                    font-family: GSbold;
                    font-size: 22px;
                    color: white;
                    text-align: center;
                    margin-top: 9px;
                }
                .date-month {                        
                    font-family: GSlight;
                    font-size: 12px;
                    color: white;
                    text-transform: uppercase;
                    text-align: center;
                    margin-top: -15px;
                }
            }
            
            .blog-text {
                margin-left: 20px;
                max-width: 380px;
                min-height: 100px;
        
                .blog-tile-img {
                    background-image: url(../images/blog.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    max-width: 380px;
                    height: 140px;
                    background-color: antiquewhite;
                }
        
                .blog-header {
                    font-family: GSreg;
                    font-size: 15px;
                    color: black;
                    height: 41px;
                    margin-top: 20px;
                }
                .blog-words {
                    font-family: GSreg;
                    font-size: 13px;
                    color: $site-pink;
                    height: 78px;
                    margin-top: -22px;
                }
            }
        }
    }
}

