@font-face {
    font-family: GSreg;
    src: url(../fonts/Gill\ Sans\ Medium.otf);
  }

  @font-face {
    font-family: PTSreg;
    src: url(../fonts/PTSerif-Regular.ttf);
  }

  @font-face {
    font-family: GSitalic;
    src: url(../fonts/Gill\ Sans\ Italic.otf);
  }

  @font-face {
    font-family: GSbolditalic;
    src: url(../fonts/Gill\ Sans\ Bold\ Italic.otf);
  }

  @font-face {
    font-family: GSbold;
    src: url(../fonts/Gill\ Sans\ Bold.otf);
  }

  @font-face {
    font-family: GSlight;
    src: url(../fonts/Gill\ Sans\ Light.otf);
  }

  @font-face {
    font-family: GSlightitalic;
    src: url(../fonts/Gill\ Sans\ Light\ Italic.otf);
  }