footer {
    min-height: 455px;
    background-color: $site-pink;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    // margin-top: 100px;

    .logo-W {
        width: 92px;
        height: 42px;
        background-image: url(../images/logo/logo-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer-contact-info {
        text-align: center;
        color: white;
        font-family: GSreg;
        font-size: 16px;
        
    }

    .footerText {
        font-family: GSreg;
        color: white;
        opacity: 50%;
        font-size: 12px;
    }

    .footer-newsletter {
        // background-color: burlywood;
        max-width: 696px;
        height: 60px;
        display: flex;

        .footer-newsletter-input {
            height: 100%;
            width: 529px;
            border: 0;
            background-color: #F56B88;
            padding-left: 25px;
            color: white;
            font-family: GSreg;
        }
        ::-webkit-input-placeholder {
            color: white;
            font-family: GSreg;
            opacity: 50%;
        }

        .subscribe-button {
            height: 100%;
            width: 167px;
            color: $site-pink;
            background-color: white;
            text-align: center;
            padding-top: 20px;
            text-transform: uppercase;
            font-family: GSreg;
            font-size: 16px;
        }
    }

    .socials {
        // margin: 0 auto;
        width: 156px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .socialIcons {
            font-size: 32px;
            color: white;
        }
    }
}

@media all and (max-width: 750px) {
    footer {
        min-height: 455px;
        background-color: $site-pink;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        // margin-top: 100px;

        .footer-newsletter {
            // background-color: burlywood;
            max-width: 90%;
            height: 60px;
            display: flex;

            .subscribe-button {
                height: 100%;
                width: 167px;
                color: $site-pink;
                background-color: white;
                text-align: center;
                padding: 20px 10px;
                text-transform: uppercase;
                font-family: GSreg;
                font-size: 16px;
            }
        }
    }
}
