// .gallery-main {
//     max-width: $nav-width;
//     // max-width: 90%;
//     min-height: 300px;
//     margin: auto;
//     // background-color: antiquewhite;
//     margin-top: 66px;
//     margin-bottom: 60px;

//     .GM-header {
//         margin-bottom: 30px;

//         .GM-title {
//             font-family: GSreg;
//             font-size: 25px;
//             text-transform: uppercase;
//         }
//         .GM-line {
//             height: 2px;
//             width: 229px;
//             max-width: 90%;
//             background-color: black;
//             margin-top: -10px;
//         }
//     }

//     .GM-hero {
//         background-color: cornflowerblue;
//         min-height: 200px;
//         margin: 0 auto;

//         .GM-img-1 {
//             background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             height: 187px;
//             width: 100%;
//             max-width: 489px;
//         }
//         .GM-img-2 {
//             background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             height: 187px;
//             width: 187px;
//             margin-top: -187px;
//             margin-left: 509px;
//         }
//         .GM-img-3 {
//             background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             height: 187px;
//             width: 264px;
//             margin-top: -187px;
//             margin-left: 716px;
//         }
//         .GM-img-4 {
//             background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             height: 306px;
//             width: 603px;
//             margin-top: 20px;
//         }
//         .GM-img-5 {
//             background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             height: 306px;
//             width: 354px;
//             margin-top: -306px;
//             margin-left: 626px;
//         }
//     }
// }
.gallery-main {
    width: $nav-width;
    max-width: 90%;
    min-height: 300px;
    margin: auto;
    // background-color: antiquewhite;
    margin-top: 66px;
    margin-bottom: 60px;

    .GM-header {
        margin-bottom: 30px;

        .GM-title {
            font-family: GSreg;
            font-size: 25px;
            text-transform: uppercase;
        }
        .GM-line {
            height: 2px;
            width: 229px;
            max-width: 90%;
            background-color: black;
            margin-top: -10px;
        }
    }

    .GM-hero {
        background-color: cornflowerblue;
        min-height: 200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        

        .GM-img-1 {
            background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 187px;
            width: 49%;
            max-width: 489px;
            min-width: none;
        }
        .GM-img-2 {
            background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 187px;
            width: 20%;
            max-width: 187px;
            // margin-top: -187px;
            // margin-left: 509px;
            margin-left: 1%;
            margin-right: 1%;
        }
        .GM-img-3 {
            background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 187px;
            width: 29%;
            max-width: 264px;
            // margin-top: -187px;
            // margin-left: 716px;
        }
        .GM-img-4 {
            background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 306px;
            width: 63%;
            max-width: 603px;
            margin-top: 20px;
        }
        .GM-img-5 {
            background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 306px;
            width: 36%;
            max-width: 354px;
            margin-top: 20px;
            margin-left: 1%;
        }
    }
}

// .GM-img-1 {
//     background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 187px;
//     width: 100%;
//     max-width: 489px;
// }
// .GM-img-2 {
//     background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 187px;
//     width: 187px;
//     margin-top: -187px;
//     margin-left: 509px;
// }
// .GM-img-3 {
//     background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 187px;
//     width: 264px;
//     margin-top: -187px;
//     margin-left: 716px;
// }
// .GM-img-4 {
//     background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 306px;
//     width: 603px;
//     margin-top: 20px;
// }
// .GM-img-5 {
//     background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 306px;
//     width: 354px;
//     margin-top: -306px;
//     margin-left: 626px;
// }

// @media all and (max-width: 1100px) {
//     .gallery-main {
//         max-width: 90%;

//         .GM-hero {
//             background-color:coral;
//             min-height: 200px;
//             margin: 0 auto;

    
//             .GM-img-1 {
//                 background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 197px;
//                 width: 507px;
//             }
//             .GM-img-2 {
//                 background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 197px;
//                 width: 216px;
//                 margin-top: -197px;
//                 margin-left: 527px;
//             }
//             .GM-img-3 {
//                 background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 187px;
//                 width: 265px;
//                 // margin-top: -187px;
//                 // margin-left: 716px;
//             }
//             .GM-img-4 {
//                 background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 306px;
//                 width: 603px;
//                 // margin-top: 20px;
//             }
//             .GM-img-5 {
//                 background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 306px;
//                 width: 355px;
//                 margin-top: -306px;
//                 margin-left: 626px;
//             }
//         } 
//     }

// }
// @media all and (max-width: 1108px) {
//     .gallery-main {
//         max-width: 90%;

//         .GM-hero {
//             background-color: cornflowerblue;
//             min-height: 200px;
//             margin: 0 auto;
    
//             .GM-img-1 {
//                 background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 244px;
//                 width: 100%;
//                 max-width: 744px;
//             }
//             .GM-img-2 {
//                 background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 244px;
//                 width: 100%;
//                 max-width: 334px;
//                 margin-top: -244px;
//                 margin-left: 764px;
//             }
//             .GM-img-3 {
//                 background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 187px;
//                 max-width: 264px;
//                 margin-top: 187px;
//                 margin-left: 716px;
//             }
//             .GM-img-4 {
//                 background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 306px;
//                 width: 603px;
//                 margin-top: 20px;
//             }
//             .GM-img-5 {
//                 background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
//                 background-position: center;
//                 background-repeat: no-repeat;
//                 background-size: cover;
//                 height: 306px;
//                 width: 354px;
//                 margin-top: -306px;
//                 margin-left: 626px;
//             }
//         }
//     }

// }