.gallery-main {
    width: $nav-width;
    max-width: 90%;
    min-height: 300px;
    margin: auto;
    // background-color: antiquewhite;
    margin-top: 66px;
    margin-bottom: 60px;

    .GM-hero {
        padding-top: 30px;
        // background-color: cornflowerblue;
        min-height: 200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        

        .GM-img-1 {
            background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 187px;
            width: 49%;
            max-width: 489px;
            cursor: pointer;

        }
        .GM-img-2 {
            background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 187px;
            width: 20%;
            max-width: 187px;
            // margin-top: -187px;
            // margin-left: 509px;
            margin-left: 1%;
            margin-right: 1%;
            cursor: pointer;

        }
        .GM-img-3 {
            background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 187px;
            width: 29%;
            max-width: 264px;
            cursor: pointer;

            // margin-top: -187px;
            // margin-left: 716px;
        }
        .GM-img-4 {
            background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 306px;
            width: 63%;
            max-width: 603px;
            margin-top: 20px;
            cursor: pointer;
        }
        .GM-img-5 {
            background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 306px;
            width: 36%;
            max-width: 354px;
            margin-top: 20px;
            margin-left: 1%;
            cursor: pointer;

        }
    }
}

@media all and (max-width: 880px) {
    .gallery-main {
        max-width: 90%;

        .GM-hero {
            // background-color: coral;
            min-height: 200px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            
    
            .GM-img-1 {
                background-image: linear-gradient(rgba($site-yellow, 0.65),rgba($site-yellow, 0.65)), url(../images/gallery/1.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 220px;
                width: 68%;
                max-width: 560px;
            }
            .GM-img-2 {
                background-image: linear-gradient(rgba($site-pink, 0.65),rgba($site-pink, 0.65)), url(../images/gallery/2.jpeg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 220px;
                width: 30%;
                max-width: 240px;
                // margin-top: -187px;
                // margin-left: 509px;
                margin-left: 2%;
                margin-right: 0;
            }
            .GM-img-3 {
                background-image: linear-gradient(rgba($site-green, 0.65),rgba($site-green, 0.65)), url(../images/gallery/3.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 221px;
                width: 39%;
                max-width: 323px;
                margin-top: 20px;
                // margin-left: 716px;
            }
            .GM-img-4 {
                background-image: linear-gradient(rgba($site-purple, 0.65),rgba($site-purple, 0.65)), url(../images/gallery/4.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 221px;
                width: 59%;
                max-width: 482px;
                // margin-top: 20px;
                margin-left: 2%;

            }
            .GM-img-5 {
                background-image: linear-gradient(rgba($site-blue, 0.65),rgba($site-blue, 0.65)), url(../images/gallery/5.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 358px;
                width: 100%;
                max-width: 825px;
                margin-top: 20px;
                margin-left: 0;
            }
        }
    }

}