.home {
    margin-top: -65px;

    .hero {
        height: 500px;
        // background-color: brown;
        background-image: linear-gradient(rgba($site-yellow, 0.75),rgba($site-yellow, 0.7)), url(../images/home-hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .hero-content {
            min-height: 100px;
            // background-color: beige;
            max-width: 310px;
            text-align: center;
            margin: auto;
            padding-top: 155px;

            .hero-title {
                font-family: PTSreg;
                font-size: 40px;
                color: white;
            }
            .hero-sub-title {
                font-family: GSitalic;
                font-size: 20px;
                color: $site-pink;
                margin-top: 9px;
            }
            .hero-sub-title2 {
                font-family: GSitalic;
                font-size: 20px;
                color: white;
                margin-top: 49px;
            }
            .hero-button {
                font-family: GSreg;
                font-size: 15px;
                color: white;
                background-color: $site-pink;
                text-align: center;
                align-content: center;
                width: 122px;
                height: 40px;
                margin: auto;
                margin-top: 48px;
            }
        }
    }

    .CEO-home {
        height: 300px;
        max-width: 780px;
        margin: auto;
        // background-color: ghostwhite;

        .CEO-home-quote {
            color: $site-yellow;
            font-family: GSbolditalic;
            font-size: 15px;
            padding-top: 77px;
        }
        .CEO-home-name {
            color: $site-pink;
            font-family: PTSreg;
            font-size: 15px;
            padding-top: 20px;
        }
        .CEO-home-position {
            color: $site-grey;
            font-family: PTSreg;
            font-size: 10px;
            padding-top: 5px;
        }
    }

    .upcoming-events {
        min-height: 300px;
        background-color: $site-purple;

        .UPE-title {
            // background-color: blanchedalmond;
            padding-top: 50px;
            color: white;
            max-width: 1198px;
            font-family: GSreg;
            font-size: 25px;
            text-transform: uppercase;
            margin: 0 auto;

            .UPE-line {
                height: 2px;
                background-color: white;
                max-width: 392px;
            }
        }

        .events-tiles {
            max-width: 1198px;
            min-height: 124px;
            margin: 0 auto;
            // background-color: burlywood;
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 70px;
            flex-wrap: wrap;  



            .UPE-tile {
                width: 220px;
                height: 124px;
                // background-color: cadetblue;
                display: flex;
                // align-items: center;
                justify-content: space-between;

                .UPE-date {
                    background-color: $site-pink;
                    height: 60px;
                    width: 60px;
                    position: relative;

                    .date-num {
                        font-family: GSbold;
                        font-size: 22px;
                        color: white;
                        position: absolute;
                        text-align: center;
                        left: 17px;
                        top: 10px;
                    }
                    .date-month {
                        font-family: GSlight;
                        font-size: 12px;
                        color: white;
                        text-transform: uppercase;
                        position: absolute;
                        text-align: center;
                        left: 19px;
                        top: 36px;
                    }
                }
                .UPE-text {
                    width: 140px;

                    .UPE-header {
                        font-family: GSreg;
                        font-size: 15px;
                        color: white;
                        height: 41px;
                    }
                    .UPE-words {
                        font-family: GSreg;
                        font-size: 13px;
                        color: $site-pink;
                        height: 78px;
                        margin-top: -12px;
                    }
                }
            }


        }
    }
}

@media all and (max-width: 1200px) {
    .home {    
        .upcoming-events {
            
            .UPE-title {
                max-width: 90%;
            }
                
            .events-tiles {
                max-width: 90%;

                .UPE-tile {
                    margin: 10px;
                }
            }
        }
    }
}