.home {
    margin-top: -65px;

    height: 500px;
    // background-color: brown;
    background-image: linear-gradient(rgba($site-yellow, 0.75),rgba($site-yellow, 0.75)), url(../images/home-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}