nav {
  height: 65px;
  max-width: $nav-width;
  margin: 0 auto;
  // background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;

    a {
    text-decoration: none;
    // color: #fff;
    font-family: GSreg;
    font-size: 15px;
    }
    
    .Font-nav-W {
      color: #fff;
    }
    
    .Font-nav-B {
      color: #000;
    }

    .logo-W {
        width: 92px;
        min-width: 92px;
        height: 42px;
        min-height: 42px;
        background-image: url(../images/logo/logo-white.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .logo-B {
      width: 92px;
      min-width: 92px;
      height: 42px;
      min-height: 42px;
      background-image: url(../images/logo/logo-black.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

    .links {
        width: 372px;
        height: 22px;
        // background-color: antiquewhite;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .navLine {
        border-left: 1px solid $site-pink;
        height: 22px;
        transform: skewX(-30deg);
        color: #fff;
    }

}

    .Nav-White {
      border-bottom: 2px solid #fff;
      // color: #fff;
    }
    .Nav-Black {
      border-bottom: 2px solid #000;
      color: #000;
    }

@media all and (max-width: 1200px) {
  nav {
    max-width: 90%;
  }
}