// heigth and width
$nav-width: 980px;
$content-width: 1390px;
$tile-WH: 350px;

// colors
$site-black: #000;
$site-purple: #540D6E;
$site-pink: #EE4367;
$site-yellow: #FFD140;
$site-blue: #3BCEAB;
$site-green: #08AD69;
$site-grey: #A8A8A8;
$site-white: #F5F5F5;