// heigth and width
$content-width: 1200px;
$tile-WH: 350px;
$page-width: 980px;

// colors
$site-black: #000;
$site-blue: #3BCEAB;
$site-purple: #540D6E;
$site-pink: #EE4367;
$site-yellow: #FFD140;
$site-green: #08AD69;